/*Clases generales*/

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    font-family: 'Cookie', cursive, bold;
    color: aliceblue;
    font-size: large;    
}

a h2 {
    color: black;
}

a p {
    color: black;
}

p {
    font-family: 'Cookie', cursive, bold;
    font-size: large;
}


@media screen and (max-width:768px) {
    
.index__body {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 100px 300px 80px;     
        grid-template-areas:"header"
                            "main"
                            "footer";      }

.index__main {
    grid-area: main;
}                                
   
.index__main__div {
    margin-top: 2%;
}

.main__div-background {
    height: 60%;}

.header {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "logo"
                         "nav";
}

.header__nav {
    background-color: inherit;
    grid-area: nav;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    grid-template-areas: "ul-menu"
                         "ul-search"
}


.header__div__logo {
    background-color: inherit;
    grid-area: logo;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo__div-img {
    height: 40px; 
}

.iconify {
    width: 15px;
    height: 15px;
    color: aliceblue;
}

.footer__h2 {
    font-size: large;
}

.h2__text {
    font-family: 'Cookie', cursive, bold;
    font-size: large;    
}

}

/*hasta aca llega el media -768px*/

@media screen and (min-width:769px) {

a {
    font-size: xxx-large;
}

.header {
    height: 127px;
    display: flex;
    flex-direction: row;}

.header__logo__div-img {
    height: 127px;
} 

.header__nav {
    width: 100%;
}

.header__ul__menu {
    width: 80%;
    height: 100%;
    align-items: center;
}

.header__ul__search {
    justify-content: flex-end;
    width: 19%;
}

.index__main {
    height: 150vh;
    display: flex;
    flex-direction:column;
}

.iconify {
    width: 40px;
    height: 40px;
    color: aliceblue;
}

.main__div-background {
    height: 60%;
    max-height: 100%;
}

.footer__h2 {
    font-size: xxx-large;
}

.flex__main {
    height: 100vh;
}

p {
    font-family: 'Cookie', cursive, bold;
    font-size: xxx-large;
}

.h2__text {
    font-family: 'Cookie', cursive, bold;
    font-size: xxx-large;    
}

.iframe_pos {
    width: 100vh;
    height: 50vh;
}

}

.header {
background-size: cover;
background-image: url(http://imgfz.com/i/bOnyMmW.jpeg);
}


.header__ul__menu {
    grid-area: ul-menu;
    display: inline-flex;
    justify-content: space-around;
    background-color: inherit;
    font-family: 'Cookie', cursive, bold;
    color: aliceblue;
}

.header__ul__search {
    grid-area: ul-search;
    display: inline-flex;
    justify-content: center;
    column-gap: 10%;
    background-color: inherit;
}

.index__main {
    background-color: aliceblue;
}

.main__div-background {
    background-image: url(https://siempreonfit.com/wp-content/uploads/2021/04/ChicasEntrenando-scaled.jpeg);
    background-size: cover;

}

.index__main__div {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.index__main__div-img {
    height: 100%;
    width: 50%;
}

.footer {
    grid-area: footer;
    background-image: url(http://imgfz.com/i/T2xPZX3.jpeg);
    background-size: cover;
    background-position-y:center;
    background-position-x:center;
    display: flex;
}

.footer__div {
 display: flex;
 width: 50%;
 flex-direction: column;
 text-align: center;
 
}

.footer__h2 {
    font-family: 'Cookie', cursive, bold;
    color: aliceblue;
}

/*Clases point-of-sale*/
.flex__main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: aliceblue;
}

.flex__form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*Clases shop*/

.main__ul-shop {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2%;
}

.main__ul__li-shop {
    width: 30%;
    height: 50%;
}

.main__ul__img-shop {
    width: 100%;
    height: 50%;

}







